a{
    text-decoration: none;
}

.app-title {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}

.animal {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #000;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.animal h4 {
    margin: 0 0 6px 0;
}

.pet-photo {
    float: left;
    width: 24%;
    margin-right: 15px;
}

.pet-name {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.species {
    font-size: 13px;
    color: #888;
    vertical-align: middle;
}

.foods-list {
    margin: 0;
    padding: 0;
    position: relative;
    left: 17px;
    font-size: 0.85rem;
    line-height: 1.5;
}

.footer {
    font-size: 0.7rem;
    color: #888;
    text-align: center;
    margin: 0;
}
