a{
    text-decoration: none;
    color: #d3bc8e;
    font-size: 15px;
}
fieldset{
    width: 90%;
}
table{
    width: 80%;
}
fieldset{
    margin-top: 10px;
}
.app-title {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: #d3bc8e;
}

.animal {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #000000b0;
    overflow: hidden;
}

.animal h4 {
    margin: 0 0 6px 0;
}

.pet-photo {
    width: 45%;
}

.pet-name {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.species {
    font-size: 13px;
    color: #888;
    vertical-align: middle;
}

.foods-list {
    margin: 0;
    padding: 0;
    position: relative;
    left: 17px;
    font-size: 0.85rem;
    line-height: 1.5;
}
.infoboss{
    font-size: 11px;
    text-align: left;
}
